.Header{
    width:100%;
    height:50px;
    background: #c34a36;
    display:flex;
    justify-content: space-between;
}
.Button{
    height:100%;
    width:25%;
    background: #c34a36;
}
.Image{
    height:100%;
}
.container{
    display:flex;
    align-items: center;
    justify-content: center;
}
.Text{
    padding-left: 20px;
}
.Button:hover{
    filter: brightness(85%);
}