.Title{
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    color:#C34A46;
}
.Ramble{
    color:#C34A46;
    text-align: center;
}
.Link{
    color:#C34A46;
    text-align: center;
}
#div{
    float:right;
    
}
.Images{
    width:100%;
}
.paralax{
    background-image:url("./resources/roshan.jpeg");
    min-height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}