.Title{
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    color:#C34A46;
}
.Ramble{
    color:#C34A46;
    padding-left: 300px;
}
.Link{
    color:#C34A46;
    padding-left:300px;
}
#div{
    float:right;
    
}